/*font*/
.bold{font-weight:700!important}
.fw600{font-weight:600!important}
.fw500{font-weight:500!important}
.normal{font-weight:400!important}

.fs12{font-size:12px!important}
.fs14{font-size:14px!important}
.fs16{font-size:16px!important}
.fs18{font-size:18px!important}
.fs20{font-size:20px!important}
.fs24{font-size:24px!important}
.fs28{font-size:28px!important}
.fs32{font-size:32px!important}
.fs40{font-size:40px!important}
.fs50{font-size:50px!important}
.fs60{font-size:60px!important}

/* line-height (fs+8)*/
.l20{ line-height: 20px}
.l22{ line-height: 22px}
.l24{ line-height: 24px}
.l26{ line-height: 26px}
.l28{ line-height: 28px}
.l30{ line-height: 30px}
.l32{ line-height: 32px}
.l34{ line-height: 34px}
.l40{ line-height: 40px}
.l42{ line-height: 42px}

/*point*/
.point{cursor: pointer}
.not-allowed{cursor: not-allowed}
/*color*/
.c-1{color:#111!important}
.c-3{color:#333!important}
.c-6{color:#666!important}
.c-9{color:#999!important}
.c-bg{color:#f6f7f8!important}
.c-blue{color:#005ff1!important}
.c-green{color:#20d08c!important}
.c-yellow{color:#ffb200!important}
.c-red{color:#e91a1a!important}
.c-white{color:#fff!important}
.c-blue2{color:#01adfe}//背景蓝色字体

/*background-color*/
.b-white{background-color:#fff!important}
/*float*/
.pull-left{float:left!important}
.pull-right{float:right!important}

/*display*/
.inline-block{display:inline-block!important}
.block{display:block!important}
.flex{display:flex!important}
.hidden{overflow:hidden!important}

/*对齐方式*/
.vt{vertical-align:top!important}
.vm{vertical-align:middle!important}
.vb{vertical-align:bottom!important}
.t-c{text-align:center!important}
.t-l{text-align:left!important}
.t-r{text-align:right!important}

/*padding*/
.p0{padding:0px!important}
.p5{padding:5px!important}
.p8{padding:8px!important}
.p12{padding:12px!important}
.p16{padding:16px!important}
.p20{padding:20px!important}
.p24{padding:24px!important}
.p32{padding:32px!important}
.p40{padding:40px!important}

/*padding-left*/
/*px=padding-left and padding-right*/
.px4,.pl4{padding-left:4px!important}
.px8,.pl8{padding-left:8px!important}
.px12,.pl12{padding-left:12px!important}
.px16,.pl16{padding-left:16px!important}
.px20,.pl20{padding-left:20px!important}
.px24,.pl24{padding-left:24px!important}
.px32,.pl32{padding-left:32px!important}
.px36,.pl36{padding-left:36px!important}
.px40,.pl40{padding-left:40px!important}
.px48,.pl48{padding-left:48px!important}
.px60,.pl60{padding-left:60px!important}

/*padding-right*/
.px8,.pr8{padding-right:8px!important}
.px12,.pr12{padding-right:12px!important}
.px16,.pr16{padding-right:16px!important}
.px20,.pr20{padding-right:20px!important}
.px24,.pr24{padding-right:24px!important}
.px32,.pr32{padding-right:32px!important}
.px36,.pr36{padding-right:36px!important}
.px40,.pr40{padding-right:40px!important}
.px48,.pr48{padding-right:48px!important}
.px60,.pr60{padding-right:60px!important}

/*padding-top*/
.py5 .pt5{padding-top:5px!important}
.py8,.pt8{padding-top:8px!important}
.py12,.pt12{padding-top:12px!important}
.py16,.pt16{padding-top:16px!important}
.py20,.pt20{padding-top:20px!important}
.py24,.pt24{padding-top:24px!important}
.py32,.pt32{padding-top:32px!important}
.py36,.pt36{padding-top:36px!important}
.py40,.pt40{padding-top:40px!important}
.py48,.pt48{padding-top:48px!important}
.py60,.pt60{padding-top:60px!important}

/*padding-bottom*/
.py8,.pb8{padding-bottom:8px!important}
.py12,.pb12{padding-bottom:12px!important}
.py16,.pb16{padding-bottom:16px!important}
.py20,.pb20{padding-bottom:20px!important}
.py24,.pb24{padding-bottom:24px!important}
.py30,.pb30{padding-bottom:30px!important}
.py32,.pb32{padding-bottom:32px!important}
.py36,.pb36{padding-bottom:36px!important}
.py40,.pb40{padding-bottom:40px!important}
.py48,.pb48{padding-bottom:48px!important}
.py60,.pb60{padding-bottom:60px!important}

/*margin*/
.m8{margin:8px!important}
.m12{margin:12px!important}
.m16{margin:16px!important}
.m20{margin:20px!important}
.m24{margin:24px!important}
.m32{margin:32px!important}
.m40{margin:40px!important}

/*margin-left*/
.mx4,.ml4{margin-left:4px!important}
.mx8,.ml8{margin-left:8px!important}
.mx12,.ml12{margin-left:12px!important}
.mx16,.ml16{margin-left:16px!important}
.mx20,.ml20{margin-left:20px!important}
.mx24,.ml24{margin-left:24px!important}
.mx32,.ml32{margin-left:32px!important}
.mx36,.ml36{margin-left:36px!important}
.mx40,.ml40{margin-left:40px!important}
.mx48,.ml48{margin-left:48px!important}
.mx64,.ml64{margin-left:64px!important}

/*margin-right*/
.mx4,.mr4{margin-right:4px!important}
.mx8,.mr8{margin-right:8px!important}
.mx12,.mr12{margin-right:12px!important}
.mx16,.mr16{margin-right:16px!important}
.mx20,.mr20{margin-right:20px!important}
.mx24,.mr24{margin-right:24px!important}
.mx32,.mr32{margin-right:32px!important}
.mx36,.mr36{margin-right:36px!important}
.mx40,.mr40{margin-right:40px!important}
.mx48,.mr48{margin-right:48px!important}
.mx64,.mr64{margin-right:64px!important}

/*margin-top*/
.my4,.mt4{margin-top:4px!important}
.my8,.mt8{margin-top:8px!important}
.my12,.mt12{margin-top:12px!important}
.my16,.mt16{margin-top:16px!important}
.my20,.mt20{margin-top:20px!important}
.my24,.mt24{margin-top:24px!important}
.my32,.mt32{margin-top:32px!important}
.my36,.mt36{margin-top:36px!important}
.my40,.mt40{margin-top:40px!important}
.my48,.mt48{margin-top:48px!important}
.my64,.mt64{margin-top:64px!important}

/*margin-bottom*/
.my8,.mb8{margin-bottom:8px!important}
.my12,.mb12{margin-bottom:12px!important}
.my16,.mb16{margin-bottom:16px!important}
.my20,.mb20{margin-bottom:20px!important}
.my24,.mb24{margin-bottom:24px!important}
.my32,.mb32{margin-bottom:32px!important}
.my36,.mb36{margin-bottom:36px!important}
.my40,.mb40{margin-bottom:40px!important}
.my48,.mb48{margin-bottom:48px!important}
.my64,.mb64{margin-bottom:64px!important}

/*width*/
.w40{width:40px!important}
.w50{width:50px!important}
.w60{width:60px!important}
.w80{width:80px!important}
.w90{width:90px!important}
.w100{width:100px!important}
.w110{width:110px!important}
.w120{width:120px!important}
.w130{width:130px!important}
.w140{width:140px!important}
.w150{width:150px!important}
.w160{width:160px!important}
.w180{width:180px!important}
.w190{width:190px!important}
.w200{width:200px!important}
.w230{width:230px!important}
.w240{width:240px!important}
.w280{width:280px!important}
.w300{width:300px!important}
.w320{width:320px!important}
.w340{width:340px!important}
.w350{width:350px!important}
.w400{width:400px!important}
.w450{width:450px!important}
.w480{width:480px!important}
.w500{width:500px!important}
.w560{width:560px!important}
.w650{width:650px!important}
.w1042{width:1042px!important}
.minW1000{min-width:1000px!important}
.minW1100{min-width:1100px!important}
.minW1200{min-width:1200px!important}
.minW1500{min-width:1500px!important}
.minW1640{min-width:1640px!important}
/*height*/
.h30{height:30px!important}
.h40{height:40px!important}
.h50{height:50px!important}
.h400{height:400px!important}


/*z-index*/
.z10{z-index:10!important;}
.z99{z-index:99!important;}
.z100{z-index:100!important;}
.z1000{z-index:1000!important;}

/*下划线*/
.underline {border-bottom: 1px solid #ccc;}

/* title */
.title-lv1{font-size: 24px;font-weight: 700;color: #333;padding: 24px 0;}
.title-lv2{font-size: 18px;font-weight: 700;color: #333;padding-bottom: 16px;}

/* filter */
.filter-inline{display:inline-block;margin-bottom:16px;margin-right:24px;}
.filter-title{display:inline-block;margin-right:16px;text-align:right;width:80px;}
.filter-value{display:inline-block;vertical-align:middle;width:200px;}

/*form*/
.blue-button{background-color:#016ee8; color:#fff}
.form-inline{margin-bottom:24px;}
.form-title{color:#666;display:inline-block;text-align:right;width:90px;margin-right:24px;}
.form-value{color:#111;display:inline-block;vertical-align:middle;}

/* operator color */
.operator{
  color: #1760bb;
  cursor: pointer;
}
.operator:hover{
  color: #ee4d4e;
}

/* warp */
.break{word-break:break-all;}
