@font-face{font-family: 'jd';src:url('../fonts/jd.eot?9omqs');src:url('../fonts/jd.eot?#iefix9omqs') format('embedded-opentype'),url('../fonts/jd.woff?9omqs') format('woff'),url('../fonts/jd.ttf?9omqs') format('truetype'),url('../fonts/jd.svg?9omqs#jd') format('svg');font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"]{font-family: 'jd';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;/* Better Font Rendering =========== */-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-list2:before {content: "\e6c4";}
.icon-redenvelope:before {content: "\e6c2";}
.icon-creditcard2:before {content: "\e6c3";}
.icon-pencil:before {content: "\e6c1";}
.icon-ad-state1:before {content: "\e6bc";}
.icon-ad-state2:before {content: "\e6bd";}
.icon-ad-state3:before {content: "\e6be";}
.icon-ad-state4:before {content: "\e6bf";}
.icon-ad-state5:before {content: "\e6c0";}
.icon-user2:before{content: "\e6bb";}
.icon-logout2:before{content: "\e6b9";}
.icon-login2:before{content: "\e6ba";}
.icon-ad-manage:before{content: "\e60e";}
.icon-channel-manage:before{content: "\e619";}
.icon-ad-calendar:before{content: "\e6b7";}
.icon-ad-analysis:before{content: "\e6b8";}
.icon-IE:before{content: "\e600";}
.icon-firefox:before{content: "\e601";}
.icon-chrome:before{content: "\e602";}
.icon-earth:before{content: "\e603";}
.icon-opera:before{content: "\e604";}
.icon-safari:before{content: "\e605";}
.icon-file-zip:before{content: "\e606";}
.icon-file-xml:before{content: "\e607";}
.icon-file-word:before{content: "\e608";}
.icon-file-powerpoint:before{content: "\e609";}
.icon-file-pdf:before{content: "\e60a";}
.icon-file-openoffice:before{content: "\e60b";}
.icon-file-css:before{content: "\e60c";}
.icon-file-excel:before{content: "\e60d";}
.icon-home:before{content: "\e60f";}
.icon-wallet2:before{content: "\e610";}
.icon-wallet:before{content: "\e611";}
.icon-vcard:before{content: "\e612";}
.icon-download:before{content: "\e613";}
.icon-upload:before{content: "\e614";}
.icon-inbox:before{content: "\f01c";}
.icon-trash:before{content: "\e615";}
.icon-envelope-o:before{content: "\f003";}
.icon-envelope:before{content: "\f0e0";}
.icon-phone-square:before{content: "\f098";}
.icon-phone:before{content: "\f095";}
.icon-location:before{content: "\e616";}
.icon-filter:before{content: "\e617";}
.icon-glass:before{content: "\f000";}
.icon-music:before{content: "\f001";}
.icon-trash-o:before{content: "\f014";}
.icon-cabinet2:before{content: "\e618";}
.icon-search:before{content: "\f002";}
.icon-diamond:before{content: "\e61a";}
.icon-microphone:before{content: "\f130";}
.icon-archive:before{content: "\e61b";}
.icon-addressbook2:before{content: "\e61c";}
.icon-component:before{content: "\e61d";}
.icon-browser:before{content: "\e61e";}
.icon-classlist:before{content: "\e61f";}
.icon-target2:before{content: "\e620";}
.icon-dot-circle-o:before{content: "\f192";}
.icon-target:before{content: "\e621";}
.icon-cord:before{content: "\e622";}
.icon-cube:before{content: "\e623";}
.icon-newspaper:before{content: "\e624";}
.icon-box:before{content: "\e625";}
.icon-box2:before{content: "\e626";}
.icon-best:before{content: "\e627";}
.icon-bell-o:before{content: "\f0f3";}
.icon-bell:before{content: "\f0a2";}
.icon-bullhorn:before{content: "\f0a1";}
.icon-creditcard:before{content: "\e628";}
.icon-shopping-cart:before{content: "\f07a";}
.icon-goods:before{content: "\e629";}
.icon-clock4:before{content: "\e62a";}
.icon-cut:before{content: "\e62b";}
.icon-dashboard:before{content: "\e62c";}
.icon-customerservice:before{content: "\e62d";}
.icon-user:before{content: "\f007";}
.icon-database:before{content: "\e62e";}
.icon-film:before{content: "\e62f";}
.icon-coffee:before{content: "\e630";}
.icon-rocket:before{content: "\e631";}
.icon-switch2:before{content: "\e632";}
.icon-paint-format:before{content: "\e633";}
.icon-save:before{content: "\f0c7";}
.icon-trophy:before{content: "\f091";}
.icon-eyedropper:before{content: "\e634";}
.icon-auction:before{content: "\e635";}
.icon-camera:before{content: "\e636";}
.icon-compass:before{content: "\f14e";}
.icon-hospital-o:before{content: "\f0f8";}
.icon-calendar:before{content: "\f073";}
.icon-calculator2:before{content: "\e637";}
.icon-calendar-o:before{content: "\f133";}
.icon-gittip:before{content: "\f184";}
.icon-moon-o:before{content: "\f186";}
.icon-sun-o:before{content: "\f185";}
.icon-plane:before{content: "\f072";}
.icon-certificate:before{content: "\f0a3";}
.icon-store:before{content: "\e638";}
.icon-leaf:before{content: "\f06c";}
.icon-circle:before{content: "\e639";}
.icon-square:before{content: "\e63a";}
.icon-square2:before{content: "\e63b";}
.icon-pie:before{content: "\e63c";}
.icon-statistics:before{content: "\e63d";}
.icon-chart:before{content: "\e63e";}
.icon-group:before{content: "\f0c0";}
.icon-channel:before{content: "\e63f";}
.icon-stack3:before{content: "\e640";}
.icon-stack2:before{content: "\e641";}
.icon-stack:before{content: "\e642";}
.icon-rss:before{content: "\e643";}
.icon-signal:before{content: "\e644";}
.icon-microphone-slash:before{content: "\f131";}
.icon-shoppe:before{content: "\e645";}
.icon-shield:before{content: "\e646";}
.icon-fire-extinguisher:before{content: "\f134";}
.icon-anchor:before{content: "\f13d";}
.icon-print:before{content: "\f02f";}
.icon-umbrella:before{content: "\e647";}
.icon-briefcase:before{content: "\f0b1";}
.icon-book:before{content: "\f02d";}
.icon-cutlery:before{content: "\f0f5";}
.icon-coffee2:before{content: "\f0f4";}
.icon-ambulance:before{content: "\f0f9";}
.icon-medkit:before{content: "\f0fa";}
.icon-truck:before{content: "\f0d1";}
.icon-suitcase:before{content: "\f0f2";}
.icon-road:before{content: "\f018";}
.icon-video-camera:before{content: "\f03d";}
.icon-fighter-jet:before{content: "\f0fb";}
.icon-beer:before{content: "\f0fc";}
.icon-dashboard2:before{content: "\f0e4";}
.icon-gift:before{content: "\f06b";}
.icon-dollar:before{content: "\e648";}
.icon-money:before{content: "\f0d6";}
.icon-lightbulb-o:before{content: "\f0eb";}
.icon-puzzle-piece:before{content: "\f12e";}
.icon-magic:before{content: "\f0d0";}
.icon-flask:before{content: "\f0c3";}
.icon-settings:before{content: "\e649";}
.icon-equalizer:before{content: "\e64a";}
.icon-cogs:before{content: "\e64b";}
.icon-cog:before{content: "\e64c";}
.icon-tools:before{content: "\e64d";}
.icon-sale:before{content: "\e64e";}
.icon-open:before{content: "\e64f";}
.icon-barcode:before{content: "\e650";}
.icon-qrcode:before{content: "\e651";}
.icon-presentation:before{content: "\e652";}
.icon-position:before{content: "\e653";}
.icon-popout:before{content: "\e654";}
.icon-popin:before{content: "\e655";}
.icon-edit:before{content: "\e656";}
.icon-plus5:before{content: "\e657";}
.icon-minus6:before{content: "\e658";}
.icon-plus4:before{content: "\e659";}
.icon-minus3:before{content: "\e65a";}
.icon-cancel:before{content: "\e65b";}
.icon-plus2:before{content: "\e65c";}
.icon-minus2:before{content: "\e65d";}
.icon-minus:before{content: "\e65e";}
.icon-plus:before{content: "\e65f";}
.icon-plus3:before{content: "\e660";}
.icon-minus4:before{content: "\e661";}
.icon-cancel3:before{content: "\e662";}
.icon-checkmark3:before{content: "\e663";}
.icon-checkmark2:before{content: "\e664";}
.icon-checkmark:before{content: "\e665";}
.icon-cancel2:before{content: "\e666";}
.icon-help:before{content: "\e667";}
.icon-question:before{content: "\e668";}
.icon-number20:before{content: "\e669";}
.icon-number19:before{content: "\e66a";}
.icon-number18:before{content: "\e66b";}
.icon-number17:before{content: "\e66c";}
.icon-number16:before{content: "\e66d";}
.icon-number15:before{content: "\e66e";}
.icon-number14:before{content: "\e66f";}
.icon-number13:before{content: "\e670";}
.icon-number12:before{content: "\e671";}
.icon-number11:before{content: "\e672";}
.icon-number10:before{content: "\e673";}
.icon-number9:before{content: "\e674";}
.icon-number8:before{content: "\e675";}
.icon-number7:before{content: "\e676";}
.icon-number6:before{content: "\e677";}
.icon-number5:before{content: "\e678";}
.icon-number4:before{content: "\e679";}
.icon-number3:before{content: "\e67a";}
.icon-number2:before{content: "\e67b";}
.icon-number:before{content: "\e67c";}
.icon-notice2:before{content: "\e67d";}
.icon-info4:before{content: "\e67e";}
.icon-notice:before{content: "\e67f";}
.icon-warning:before{content: "\f071";}
.icon-info3:before{content: "\e680";}
.icon-navigation:before{content: "\e681";}
.icon-medal:before{content: "\e682";}
.icon-female:before{content: "\e683";}
.icon-male:before{content: "\e684";}
.icon-magic2:before{content: "\e685";}
.icon-logout:before{content: "\e686";}
.icon-login:before{content: "\e687";}
.icon-pictures2:before{content: "\e688";}
.icon-images:before{content: "\e689";}
.icon-image:before{content: "\e68a";}
.icon-history2:before{content: "\e68b";}
.icon-headphones:before{content: "\e68c";}
.icon-grid2:before{content: "\e68d";}
.icon-grid:before{content: "\e68e";}
.icon-forward:before{content: "\e68f";}
.icon-flexible:before{content: "\e690";}
.icon-eye2:before{content: "\e691";}
.icon-eye-slash:before{content: "\f070";}
.icon-eye:before{content: "\e692";}
.icon-ellipsis-v:before{content: "\f142";}
.icon-ellipsis-h:before{content: "\f141";}
.icon-ellipsis:before{content: "\e693";}
.icon-dots:before{content: "\e694";}
.icon-dot:before{content: "\e695";}
.icon-cloud-upload:before{content: "\e696";}
.icon-cloud-download:before{content: "\e697";}
.icon-cloud3:before{content: "\e698";}
.icon-clock2:before{content: "\e699";}
.icon-clock:before{content: "\e69a";}
.icon-adjust:before{content: "\e69b";}
.icon-sun:before{content: "\e69c";}
.icon-chat3:before{content: "\e69d";}
.icon-chat2:before{content: "\e69e";}
.icon-comment:before{content: "\f075";}
.icon-comments:before{content: "\e69f";}
.icon-chat:before{content: "\e6a0";}
.icon-heart:before{content: "\f004";}
.icon-heart-o:before{content: "\f08a";}
.icon-star:before{content: "\f005";}
.icon-star-half-empty:before{content: "\f123";}
.icon-star-half:before{content: "\f089";}
.icon-star-o:before{content: "\f006";}
.icon-power-off:before{content: "\f011";}
.icon-folder-open:before{content: "\f07c";}
.icon-folder:before{content: "\f07b";}
.icon-folder-o:before{content: "\f114";}
.icon-folder-open-o:before{content: "\f115";}
.icon-file-o:before{content: "\f016";}
.icon-file-text-o:before{content: "\f0f6";}
.icon-file:before{content: "\f15b";}
.icon-file-text:before{content: "\f15c";}
.icon-paste:before{content: "\f0ea";}
.icon-copy:before{content: "\f0c5";}
.icon-file-add:before{content: "\e6a1";}
.icon-file-settings:before{content: "\e6a2";}
.icon-file2:before{content: "\e6a3";}
.icon-files:before{content: "\e6a4";}
.icon-cycle:before{content: "\e6a5";}
.icon-cw:before{content: "\e6a6";}
.icon-ccw:before{content: "\e6a7";}
.icon-unlock-alt:before{content: "\f13e";}
.icon-lock:before{content: "\f023";}
.icon-key:before{content: "\f084";}
.icon-flag:before{content: "\f024";}
.icon-tag:before{content: "\f02b";}
.icon-tags:before{content: "\f02c";}
.icon-bookmark:before{content: "\f02e";}
.icon-attachment:before{content: "\e6a8";}
.icon-bookmark-o:before{content: "\f097";}
.icon-font:before{content: "\f031";}
.icon-bold:before{content: "\f032";}
.icon-italic:before{content: "\f033";}
.icon-text-height:before{content: "\f034";}
.icon-text-width:before{content: "\f035";}
.icon-underline:before{content: "\f0cd";}
.icon-strikethrough:before{content: "\f0cc";}
.icon-chain:before{content: "\f0c1";}
.icon-align-left:before{content: "\f036";}
.icon-align-center:before{content: "\f037";}
.icon-align-right:before{content: "\f038";}
.icon-align-justify:before{content: "\f039";}
.icon-list:before{content: "\f03a";}
.icon-dedent:before{content: "\f03b";}
.icon-bars:before{content: "\f0c9";}
.icon-list-ul:before{content: "\f0ca";}
.icon-list-ol:before{content: "\f0cb";}
.icon-indent:before{content: "\f03c";}
.icon-quote-right:before{content: "\f10e";}
.icon-quote-left:before{content: "\f10d";}
.icon-quote2:before{content: "\e6a9";}
.icon-quote:before{content: "\e6aa";}
.icon-reply:before{content: "\e6ab";}
.icon-sort-alpha-asc:before{content: "\f15d";}
.icon-sort-alpha-desc:before{content: "\f15e";}
.icon-sort-amount-desc:before{content: "\f161";}
.icon-sort-amount-asc:before{content: "\f160";}
.icon-sort-numeric-asc:before{content: "\f162";}
.icon-sort-numeric-desc:before{content: "\f163";}
.icon-stretch:before{content: "\e6ac";}
.icon-exchange:before{content: "\f0ec";}
.icon-arrows-alt:before{content: "\f0b2";}
.icon-cut2:before{content: "\f0c4";}
.icon-mail-forward:before{content: "\f064";}
.icon-mail-reply:before{content: "\f112";}
.icon-reply-all:before{content: "\f122";}
.icon-adjust2:before{content: "\f042";}
.icon-droplet:before{content: "\e6ad";}
.icon-arrows:before{content: "\f047";}
.icon-step-backward:before{content: "\f048";}
.icon-fast-backward:before{content: "\f049";}
.icon-backward:before{content: "\f04a";}
.icon-play:before{content: "\f04b";}
.icon-pause:before{content: "\f04c";}
.icon-stop:before{content: "\f04d";}
.icon-forward2:before{content: "\f04e";}
.icon-fast-forward:before{content: "\f050";}
.icon-step-forward:before{content: "\f051";}
.icon-eject:before{content: "\f052";}
.icon-random:before{content: "\f074";}
.icon-retweet:before{content: "\f079";}
.icon-unsorted:before{content: "\f0dc";}
.icon-volume3:before{content: "\e6ae";}
.icon-volume2:before{content: "\e6af";}
.icon-resize3:before{content: "\e6b0";}
.icon-volume:before{content: "\e6b1";}
.icon-ban:before{content: "\f05e";}
.icon-asterisk:before{content: "\f069";}
.icon-fire:before{content: "\f06d";}
.icon-magnet:before{content: "\f076";}
.icon-thumb-tack:before{content: "\f08d";}
.icon-hdd-o:before{content: "\f0a0";}
.icon-hand-o-left:before{content: "\f0a5";}
.icon-hand-o-right:before{content: "\f0a4";}
.icon-hand-o-up:before{content: "\f0a6";}
.icon-hand-o-down:before{content: "\f0a7";}
.icon-thumbs-o-up:before{content: "\f087";}
.icon-thumbs-o-down:before{content: "\f088";}
.icon-thumbs-up:before{content: "\f164";}
.icon-thumbs-down:before{content: "\f165";}
.icon-pagelines:before{content: "\f18c";}
.icon-tasks:before{content: "\f0ae";}
.icon-paperclip:before{content: "\f0c6";}
.icon-table:before{content: "\f0ce";}
.icon-columns:before{content: "\f0db";}
.icon-flash:before{content: "\f0e7";}
.icon-sitemap:before{content: "\f0e8";}
.icon-user-md:before{content: "\f0f0";}
.icon-stethoscope:before{content: "\f0f1";}
.icon-play-circle-o:before{content: "\f01d";}
.icon-play-circle:before{content: "\f144";}
.icon-toggle-left:before{content: "\f191";}
.icon-toggle-right:before{content: "\f152";}
.icon-toggle-up:before{content: "\f151";}
.icon-toggle-down:before{content: "\f150";}
.icon-arrow-circle-o-up:before{content: "\f01b";}
.icon-arrow-circle-o-down:before{content: "\f01a";}
.icon-arrow-circle-o-left:before{content: "\f190";}
.icon-arrow-circle-o-right:before{content: "\f18e";}
.icon-arrow-circle-left:before{content: "\f0a8";}
.icon-arrow-circle-right:before{content: "\f0a9";}
.icon-arrow-circle-up:before{content: "\f0aa";}
.icon-arrow-circle-down:before{content: "\f0ab";}
.icon-arrow-left:before{content: "\f060";}
.icon-arrow-right:before{content: "\f061";}
.icon-arrow-up:before{content: "\f062";}
.icon-arrow-down:before{content: "\f063";}
.icon-long-arrow-left:before{content: "\f177";}
.icon-long-arrow-right:before{content: "\f178";}
.icon-long-arrow-down:before{content: "\f175";}
.icon-long-arrow-up:before{content: "\f176";}
.icon-arrows-h:before{content: "\f07e";}
.icon-arrows-v:before{content: "\f07d";}
.icon-compress:before{content: "\f066";}
.icon-expand:before{content: "\f065";}
.icon-chevron-circle-left:before{content: "\f137";}
.icon-chevron-circle-right:before{content: "\f138";}
.icon-chevron-circle-up:before{content: "\f139";}
.icon-chevron-circle-down:before{content: "\f13a";}
.icon-angle-double-left:before{content: "\f100";}
.icon-angle-double-right:before{content: "\f101";}
.icon-angle-double-up:before{content: "\f102";}
.icon-angle-double-down:before{content: "\f103";}
.icon-angle-left:before{content: "\f104";}
.icon-angle-right:before{content: "\f105";}
.icon-angle-up:before{content: "\f106";}
.icon-angle-down:before{content: "\f107";}
.icon-chevron-left:before{content: "\f053";}
.icon-chevron-right:before{content: "\f054";}
.icon-chevron-up:before{content: "\f077";}
.icon-chevron-down:before{content: "\f078";}
.icon-caret-up:before{content: "\f0d8";}
.icon-caret-left:before{content: "\f0d9";}
.icon-caret-right:before{content: "\f0da";}
.icon-caret-down:before{content: "\f0d7";}
.icon-level-up:before{content: "\f148";}
.icon-level-down:before{content: "\f149";}
.icon-desktop:before{content: "\f108";}
.icon-laptop:before{content: "\f109";}
.icon-tablet:before{content: "\f10a";}
.icon-mobile-phone:before{content: "\f10b";}
.icon-circle-o:before{content: "\f10c";}
.icon-circle2:before{content: "\f111";}
.icon-spinner:before{content: "\f110";}
.icon-smile-o:before{content: "\f118";}
.icon-frown-o:before{content: "\f119";}
.icon-meh-o:before{content: "\f11a";}
.icon-gamepad:before{content: "\f11b";}
.icon-keyboard-o:before{content: "\f11c";}
.icon-flag-o:before{content: "\f11d";}
.icon-flag-checkered:before{content: "\f11e";}
.icon-terminal:before{content: "\f120";}
.icon-code2:before{content: "\e6b2";}
.icon-code:before{content: "\e6b3";}
.icon-location-arrow:before{content: "\f124";}
.icon-crop:before{content: "\f125";}
.icon-code-fork:before{content: "\f126";}
.icon-unlink:before{content: "\f127";}
.icon-superscript:before{content: "\f12b";}
.icon-subscript:before{content: "\f12c";}
.icon-eraser:before{content: "\f12d";}
.icon-euro:before{content: "\f153";}
.icon-gbp:before{content: "\f154";}
.icon-dollar2:before{content: "\f155";}
.icon-rupee:before{content: "\f156";}
.icon-cny:before{content: "\f157";}
.icon-ruble:before{content: "\f158";}
.icon-turkish-lira:before{content: "\f195";}
.icon-won:before{content: "\f159";}
.icon-adn:before{content: "\f170";}
.icon-bitcoin:before{content: "\f15a";}
.icon-xing:before{content: "\f168";}
.icon-xing-square:before{content: "\f169";}
.icon-dropbox:before{content: "\f16b";}
.icon-stack-overflow:before{content: "\f16c";}
.icon-apple:before{content: "\f179";}
.icon-windows:before{content: "\f17a";}
.icon-android:before{content: "\f17b";}
.icon-html5:before{content: "\f13b";}
.icon-css3:before{content: "\f13c";}
.icon-linux:before{content: "\f17c";}
.icon-dribbble:before{content: "\f17d";}
.icon-maxcdn:before{content: "\f136";}
.icon-bitbucket:before{content: "\f171";}
.icon-stack-exchange:before{content: "\f18d";}
.icon-flickr:before{content: "\f16e";}
.icon-instagram:before{content: "\f16d";}
.icon-h-square:before{content: "\f0fd";}
.icon-pinterest-square:before{content: "\f0d3";}
.icon-github-alt:before{content: "\f113";}
.icon-rss-square:before{content: "\f143";}
.icon-google-plus-square:before{content: "\f0d4";}
.icon-facebook-square:before{content: "\f082";}
.icon-linkedin-square:before{content: "\f08c";}
.icon-github-square:before{content: "\f092";}
.icon-twitter-square:before{content: "\f081";}
.icon-skype:before{content: "\f17e";}
.icon-vimeo-square:before{content: "\f194";}
.icon-linkedin:before{content: "\f0e1";}
.icon-youtube-play:before{content: "\f16a";}
.icon-foursquare:before{content: "\f180";}
.icon-trello:before{content: "\f181";}
.icon-female2:before{content: "\f182";}
.icon-male2:before{content: "\f183";}
.icon-archive2:before{content: "\f187";}
.icon-bug2:before{content: "\f188";}
.icon-vk:before{content: "\f189";}
.icon-weibo:before{content: "\f18a";}
.icon-weixin:before{content: "\e6b4";}
.icon-renren:before{content: "\f18b";}
.icon-dongdong:before{content: "\e6b5";}
.icon-qq:before{content: "\e6b6";}
.icon-wheelchair:before{content: "\f193";}
.icon-icon_calendar:before {content: "\e906";}

.icon-print:before {
  content: "\78";
}
.icon-new-right:before {
  content: "\e6c5";
}
.icon-new:before {
  content: "\e6c6";
}
.icon-learn:before {
  content: "\e6c7";
}
.icon-cpm:before {
  content: "\e900";
}
.icon-ppzhanwei:before {
  content: "\e94d";
}
.icon-ppjuxiao:before {
  content: "\e94c";
}
.icon-cygongju:before {
  content: "\e944";
}
.icon-jdzhitui:before {
  content: "\e904";
}
.icon-jdzhitou:before {
  content: "\e948";
}
.icon-jdkuaiche:before {
  content: "\e947";
}
.icon-jtk:before {
  content: "\e94a";
}
.icon-dmp:before {
  content: "\e945";
}
.icon-audit:before {
  content: "\e909";
}
.icon-feedback:before {
  content: "\e90a";
}
.icon-jqqidai:before {
  content: "\e90b";
}
.icon-agreement:before {
  content: "\e90c";
}
.icon-monitor:before {
  content: "\e90d";
}
.icon-market-analysis:before {
  content: "\e946";
}
.icon-optimize:before {
  content: "\e950";
}
.icon-blog:before {
  content: "\e910";
}
.icon-search1:before {
  content: "\e94b";
}
.icon-stack4:before {
  content: "\e94f";
}
.icon-wireless:before {
  content: "\e94e";
}
.icon-label:before{content: "\e942"}

.icon-fine-arrow-up:before{content: "\e914";}
.icon-cog1:before{content: "\e915";}
.icon-cancel4:before{content: "\e916";}
.icon-filter2:before{content: "\e917";}
.icon-file-ban:before{content: "\e918";}
.icon-chain2:before{content: "\e919";}
.icon-search2:before{content: "\e91a";}
.icon-circle-help:before{content: "\e91b";}
.icon-trash-o2:before{content: "\e91c";}
.icon-circle-word:before{content: "\e91d";}
.icon-circle-cny:before{content: "\e91e";}
.icon-pencil2:before {content: "\e91f";}
.icon-fine-arrow-down:before{content: "\e920";}

.icon-chart2:before{content: "\e921";}
.icon-circle-empty:before{content: "\e922";}
.icon-edit2:before{content: "\e923";}
.icon-files2:before{content: "\e924";}
.icon-flag2:before{content: "\e925";}
.icon-location-o:before{content: "\e926";}
.icon-icon-pictures:before{content: "\e927";}
.icon-plus6:before{content: "\e928";}
.icon-settings2:before{content: "\e929";}
.icon-user-add:before{content: "\e92b";}

.icon-over:before{content: "\e92a";}
.icon-lack:before{content: "\e92c";}
.icon-reject:before{content: "\e92d";}
.icon-descend:before{content: "\e92e";}
.icon-decline:before{content: "\e92f";}
.icon-disabled:before{content: "\e930";}
.icon-budget:before{content: "\e931";}
.icon-share:before{content: "\e932";}
.icon-chart3:before{content: "\e933";}
.icon-hdtb:before{content: "\e934";}
.icon-joint:before{content: "\e937";}
.icon-ad-offline:before{content: "\e939";}
.icon-price:before{content: "\e93a";}
.icon-timeRange:before{content: "\e93b";}
.icon-area:before{content: "\e93c";}
.icon-crowd:before{content: "\e93d";}
.icon-budget2:before{content: "\e93e";}
.icon-setTime:before{content: "\e93f";}
.icon-media:before{content: "\e940";}
.icon-uniform:before{content: "\e941";}

.icon-jingpaihd:before{content: "\e949";}

.icon-person:before{content: "\e951";}
.icon-video:before{content: "\e952";}
.icon-picture:before{content: "\e953";}
.icon-slide:before{content: "\e954";}
.icon-lightning:before{content: "\e955";}
.icon-replace:before{content: "\e956";}
.icon-upload2:before{content: "\e957";}
.icon-waiting:before{content: "\e958";}
.icon-extend:before{content: "\e959";}
.icon-ctr:before{content: "\e95a";}
.icon-jingpaihd2:before {content: "\e95b";}
.icon-jingpinzw:before {content: "\e95c";}
.icon-upArrow:before {content: "\e95e";}
.icon-downArrow:before {content: "\e95f";}
.icon-dataManager:before {content: "\e960";}
.icon-label2:before {content: "\e962";}
.icon-filter3:before {content: "\e963";}
.icon-chevron-right3:before {content: "\e964";}
.icon-chevron-left3:before {content: "\e965";}
.icon-classify:before {content: "\e966";}
.icon-heart4:before {content: "\e967";}

.icon-haitoulogo:before {content: "\e968";}

.icon-kj:before {content: "\e969";}
.icon-adtest:before {content: "\e96a";}
.icon-gwcd:before {content: "\e96b";}
.icon-lbgg:before {content: "\e96c";}