/* 导航栏logo设置 */
/*-- Header --*/
#pay-header{
  position: fixed;
  width:80vw;
  height:40px;
  top:0;
  left:0;
  z-index:999;
  // background:#3755be;
  background: url(../imgs/bg_p1.jpg);
  background-size: cover;
  color: white;
  padding: 15px 10vw;
  // line-height: 80px;
  box-shadow:0 3px 3px rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(255,255,255,.08);
  // opacity:0.95;
  overflow:hidden;}

#pay-home{
  color: white;
  // background:url(../imgs/bg_pay.png) #3755be 0 0 repeat;
  // background-size: 40px 80px;
  // padding: 0px 15vw;
  text-align: center;
  height: 100%;
}

.pay-dashboard{
  padding: 0 12vw;
  background: #f9fbfd;
  min-height: 100%;
}

/* 布局统一样式 */
#main {
  padding-top: 70px;
  min-width: 1400px !important;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
}
.content-box {
  box-sizing: border-box;
  height: 100%;
  padding: 0 24px;
  overflow: auto;
}
.panel {
  background-color: #fff;
  border: 1px solid #edf2f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(18,38,63,.03);
  color: #333;
  padding: 32px;
}

/*多选框垂直居中*/
// .jad-checkbox-wrapper {vertical-align: middle;}

/*分页*/
// .jad-pagination { float: right; }

/*自定义列:设置固定宽度，防止浮动影响样式*/
.jad-pro-custom-columns-popper{width: 640px;}

/*表格*/
// .jad-table th, .jad-table td {
//   padding: 16px 12px;
// }
// .jad-table td {
//   font-size: 14px;
//   color: #111;
// }
// .jad-table th {
//   font-size: 14px;
//   color: #999;
// }
// .jad-table .jad-table-content tr {
//   .hoverIcon {
//     transition: all .5s;
//     opacity: 0;
//   }
//   &:hover {
//     .hoverIcon {
//       opacity: 1;
//     }
//   }
// }

/* 登陆校验蒙版样式 */
#splash {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #03a9f4;
  z-index: 99999;
}
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
  top: 40%;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eee;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#authTip {
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 700;
}


/*图片预览样式*/
.img-wraper {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle !important;
  }
}
.img-wraper-tooltip {
  position: relative;
  display: block;
  max-width: 500px;
  max-height: 500px;
  text-align: center;
  img {
      max-width: 500px;
      max-height: 500px;
      vertical-align: middle !important;
  }
  .mask-img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 500px;
      max-height: 500px;
      vertical-align: middle !important;
  }
}

// @font-face{
//   font-family: 'jd';
//   src:url('../fonts/jd.eot?9omqs');
//   src:url('../fonts/jd.eot?#iefix9omqs') format('embedded-opentype'),url('../fonts/jd.woff?9omqs') format('woff'),url('../fonts/jd.ttf?9omqs') format('truetype'),url('../fonts/jd.svg?9omqs#jd') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


/*滑动固定列*/
.scroll-top{
  position: relative;
  z-index: 100;
  background: #f9f9f9;
  padding: 5px 0 16px 0;
}

//背景蓝色字体
.c-blue2 .el-button{color:#01adfe}

//侧滑框支持滚动
.el-drawer__body {overflow: auto;}